.container {
  background: var(--light-gray);
  overflow: hidden;
  margin-top: 80px;
}
.root {
  padding: 0 172px;
}
.spacing {
  padding: 0 172px;
  max-width: 1440px;
  margin: 0 auto;
}
.spacingVision {
  padding-left: 172px;
  padding-right: 60px;
  margin: 0 auto;
}
.ourJourney {
  position: relative;
  .imageLeft {
    min-height: 400px;
    z-index: 1;
  }
  .wrapText {
    .text {
      position: relative;
    }
    font-size: 1rem;
    .title {
      font-size: 4rem;
      font-weight: 600;
    }
  }
  .buyers {
    width: 100%;
    height: 3.8rem;
  }
}
.floatImage {
  z-index: -1;
  // height: 200px;
  // width:100vw;
  margin-top: -120px;
  .bgImage {
    & > span {
      width: 100% !important;
    }
    position: absolute;
    top: 0;
    width: 100%;
    img {
      width: 100%;
      z-index: 1;
    }
  }
  .wrapImage {
    height: 100%;
    height: 400px;
    &:first-child {
      position: relative;
    }
    & > span {
      width: 100% !important;
      height: 100% !important;
    }
    // max-width: 316px;
    .image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .textBuyer {
    & > span:first-child {
      font-size: 20px;
      font-weight: 600;
    }
    & > span {
      color: white;
    }
  }
  .largeTitle {
    position: relative;
    .textBuyer {
      z-index: 1;
      position: absolute;
      bottom: 40px;
      display: flex;
      flex-direction: column;
      right: 40px;
    }
  }
}

.wrapImageLeft {
  display: flex;
  justify-content: center;
  z-index: 10;
  & > span {
    width: 100% !important;
  }
}

.wrapDivider {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 92px 0px;
}

.sourcing {
  padding-top: 113px;
  position: relative;
  .dividerShort {
    padding-top: 20px;
  }
  .bgImage {
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    position: absolute;
  }
  .wrapContent {
    // background-image: url('/images/bg.png');
    // background-position: center; /* Center the image */
    // background-repeat: no-repeat; /* Do not repeat the image */
    // background-size: contain; /* Resize the background image to cover the entire container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .script {
      font-size: var(--text-size);
    }
  }
  .floatIconLeft {
    position: absolute;
    left: 0;
    top: 160px;
  }
  .floatIconRight {
    position: absolute;
    right: 0;
    top: 40px;
  }

  .smallTitle {
    font-size: var(--text-size);
    text-transform: uppercase;
  }
  .scrip {
    font-size: var(--text-size);
  }
  .wrapButton {
    & > button {
      border: none;
      color: #ffffff;
      background: #8a1722;
      padding: 14px 30px;
      border-radius: 4px;
      margin-top: 20px;
      cursor: pointer;
      transition: ease-in-out 0.3s;
      &:hover {
        opacity: 0.9;
      }
    }
  }
}
.visionMission {
  margin-top: 213px;
  margin-bottom: 101px;
  .section {
    background: #ededed;
  }
  .wrapImage {
    position: relative;
    bottom: 35%;
    & > span {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    .sectionTitle {
      font-size: 3.875rem;
      font-weight: 600;
    }
    .text {
      font-size: var(--text-size);
    }
  }
  .missionSection {
    margin-top: 55px;
    padding-left: 5%;
  }
}

.aboutUs {
  .wrapImage {
    padding-right: 75px;
    & > span {
      width: 100% !important;
      height: 100% !important;
    }
  }
  .aboutTitle {
    font-size: 3.875rem;
    font-weight: 600;
  }
  .text {
    &:nth-child(2) {
      margin: 30px 0;
    }
    font-size: var(--text-size);
  }
}

.title {
  z-index: 1;
  font-size: 4.375rem;
  margin: 25px 0px;
  line-height: 78px;
  font-weight: 900;
  text-align: center;
}
.offices {
  margin-top: 40px;
  margin-bottom: 52px;
  .text {
    display: flex;
    align-items: center;
    font-size: var(--text-size);
  }
  .contents {
    display: flex;
    flex-direction: column;
    .rank {
      display: flex;
      font-size: 72px;
      font-weight: 600;
      line-height: 78px;
      .text {
        font-size: 20px;
        font-weight: 600;
        margin-left: 8px;
      }
    }
    .places {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .mainText {
        text-transform: uppercase;
        font-weight: 900;
      }
    }
  }
}
.thinking {
  padding: 0 60px;
  & > span {
    width: 100% !important;
  }
  margin-top: 53px;
  display: flex;
  justify-content: center;
  // max-width: 1320px;
  // padding: 0 60px;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  position: relative;
  .smallTitle {
    font-size: var(--text-size);
    color: #8a1722;
    display: block;
    text-transform: uppercase;
  }
  .contentImage {
    font-size: 2.19rem;
    padding: 0 190px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
  img {
    top: 0;
  }
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  // grid-template-areas:
  // 'a b c'
  // 'a b c'
  // 'a b c'
  // 'd e f'
  // 'd e f'
  // 'd e f'
  // 'd e f'
  // 'd e f'
  // 'd e f';
  .item {
    background-color: #8a1722;
  }
  .item {
    font-size: 1rem;
    text-align: center;
    grid-area: a;
    position: relative;
    &:hover {
      opacity: 0.8;
    }
    & > span {
      width: 100% !important;
      height: 100% !important;
    }
    .wrapContent {
      width: 100%;
      height: 100%;
      padding: 52px 70px;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: #fff;
      font-size: var(--text-size);
      transition: ease-in-out 0.3s;
      .itemTitle {
        font-size: 1.875rem;
        text-align: left;
      }
      .wrapContact {
        display: flex;
        align-items: center;
        margin-top: auto;
      }
      &:hover {
        opacity: 0.8;
      }
      a {
        margin-right: 0.375rem;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .titleProduct {
      font-weight: 600;
      display: flex;
      text-align: left;
      justify-content: center;
      align-items: center;
      color: #ffffff;
      font-size: 3.625rem;
      cursor: pointer;
    }
  }
  .item1 {
    background-color: var(--dark);
    grid-column: 1/2;
    grid-row: 1/4;
  }
  .item2 {
    grid-column: 2/3;
    grid-row: 1/6;
  }
  .item3 {
    grid-column: 3/4;
    grid-row: 1/5;
  }
  .item4 {
    grid-column: 1/2;
    grid-row: 4/9;
  }
  .item5 {
    grid-column: 2/3;
    grid-row: 6/9;
  }
  .item6 {
    grid-column: 3/4;
    grid-row: 5/9;
  }
}

.ourTeam {
  .script {
    margin: 29px 0px 40px 0px;
    font-size: var(--text-size);
  }
  .teamTitle {
    font-weight: 600;
    font-size: 3.875rem;
    text-align: center;
  }
  .listCard {
    margin-top: 46px;
    .wrapCard {
      text-align: left;
      background: #fff;
      padding: 24px 20px 57px 20px;
      border-radius: 4px;
      height: 542px;
    }
    .card {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      .header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 6px;
        font-weight: 600;
        & > span:first-child {
          width: 100%;
          font-size: 1.2rem;
        }

        .wrapImages {
          display: flex;
          align-items: center;
          row-gap: 8px;
        }
      }
      .wrapIcon {
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #ededed;
        border-radius: 50%;
        cursor: pointer;
        &:first-child {
          margin-right: 8px;
        }
      }
      .wrapAvatar {
        width: 100%;
        height: auto;
      }
      .job {
        margin-bottom: 10px;
        text-transform: uppercase;
      }
      .script {
        font-size: var(--text-size);
      }
      .avatar {
        margin-top: 10px 16px;
      }
    }
  }
}

.vision {
  margin: 79px 0;
  .left {
    padding-right: 57px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .division {
      &:first-child {
        margin-bottom: 64px;
      }
      display: flex;
      flex-direction: column;
      .divisionTitle {
        font-weight: 600;
        font-size: 1.875rem;
        margin-bottom: 13px;
      }
      .text {
        font-size: var(--text-size);
      }
    }
  }
  .right {
    .wrapImage {
      & > span {
        width: 100% !important;
      }
    }
  }
}

.coreValue {
  .coreTitle {
    font-size: 3.875rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 53px;
  }
  .features {
    .feature {
      flex-basis: 20%;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      .featureTitle {
        font-size: var(--text-size);
        text-transform: uppercase;
      }
      .text {
        font-size: 0.8125rem;
      }
    }
  }
}
.wrapWhy {
  position: relative;
  .floatIconLeft {
    position: absolute;
    left: 0;
    top: -200px;
    z-index: 1;
  }
  .background {
    width: 100%;
    position: absolute;
    top: -100px;
    & > span {
      width: 100% !important;
    }
  }
  .why {
    .left {
      .wrapImage {
        & > span {
          width: 100% !important;
          height: 100% !important;
        }
      }
    }
    .right {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      .whyTitle {
        font-size: 3.875rem;
        margin-bottom: 30px;
      }
      .features {
        display: flex;
        flex-direction: column;
        .feature {
          &:not(first-child) {
            margin-bottom: 72px;
          }
          display: flex;
          .leftFeature {
            display: flex;
            align-items: center;
            .wrapImage {
              padding: 18px;
              width: 76px;
              height: 76px;
              display: flex;
              justify-content: center;
              background: #eaeaea;
              border-radius: 50%;
            }
            display: flex;
            .featureTitle {
              margin-left: 16px;
              font-weight: 900;
              font-size: 1.875rem;
            }
          }
          .text {
            text-align: left;
            display: flex;
            align-items: center;
            font-size: var(--text-size);
          }
        }
      }
    }
  }
}

.clientSay {
  display: flex;
  flex-direction: column;
  .clientTitle {
    font-size: 3.875rem;
    margin-bottom: 95px;
  }
  .left {
    .bg {
      width: 75%;
      height: 75%;

      position: absolute;
      top: -24px;
      left: -24px;
      background-color: var(--dark);
    }
    .wrapImage {
      position: relative;

      & > span {
        width: 100% !important;
      }
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    .image {
      margin-bottom: 26px;
    }
    .text {
      font-size: var(--text-size);
      margin-bottom: 20px;
    }
    .name {
      font-weight: 600;
      font-size: 1.875rem;
      margin-bottom: 7px;
    }
  }
}
.contactUs {
  padding: 62px 0;
  margin-top: 111px;
  color: #fff;
  position: relative;
  background-color: var(--dark-red);
  // .bg {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 40%;
  // }
  .wrapSocial {
    font-weight: 600;
    margin: auto 0;
  }
  .social {
    padding: 47px 85px;
    height: 50%;
    color: var(--dark);
    font-size: var(--text-size);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .listIcon {
      width: 100%;
      display: flex;
      margin-top: 20px;
      justify-content: space-around;
      row-gap: 49px;
    }
    .wrapImage {
      width: 75px;
      height: 75px;
      background-color: var(--dark);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .header {
    display: flex;
    align-items: center;
    .wrapImage {
      margin-right: 35px;
    }
  }
  .contactTitle {
    font-size: 1.875rem;
    font-weight: 600;
  }
  .text {
    font-size: var(--text-size);
    margin: 20px 0;
  }
  .input {
    font-size: var(--text-size);
    & > input,
    textarea {
      width: 100%;
      border-radius: 5px;
      background: #7d101a;
      border: none;
      padding: 8px 22px;
      &::placeholder {
        color: rgba(255, 255, 255, 0.5);
      }
    }
  }
  button {
    padding: 14px 24px;
    background-color: var(--dark);
    color: #fff;
    border: none;
    border-radius: 5px;
  }
}
@media (max-width: 1440px) {
  .spacing {
    padding: 0px 50px;
  }
}

@media (max-width: 1220px) {
  .spacing {
    padding: 0px 36px;
  }
  .floatImage {
    display: none;
  }
}
@media (max-width: 997px) {
  .wrapDivider {
    padding: 60px 0px;
  }
  .thinking {
    .contentImage {
      padding: 0 80px;
    }
  }
  .visionMission {
    .section {
      flex-direction: row-reverse;
    }
    .missionSection {
      .right {
        align-items: flex-end;
        text-align: right;
      }
    }
    .section {
      padding: 0 24px;
    }
  }
  .gallery {
    .item {
      .wrapContent {
        padding: 20px 20px;
      }
    }
  }
  .why {
    .right {
      .features {
        width: 100%;
      }
      .whyTitle {
        text-align: center;
      }
    }
    .right {
      align-items: center !important;
      .features {
        .feature {
          justify-content: center;
          .leftFeature {
            justify-content: space-around;
            margin-bottom: 20px;
          }
          .text {
            justify-content: center;
          }
        }
      }
    }
  }
  .thinking {
    .contentImage {
      & > span:first-child {
        width: 40px !important;
      }
    }
  }
  .clientSay {
    .left {
      .bg {
        width: 100%;
        left: 0;
      }
    }
  }
  .ourTeam {
    .listCard {
      margin-top: 46px;
      .wrapCard {
        height: 595px;
        margin-bottom: 16px;
      }
    }
  }
}
@media (max-width: 768px) {
  .coreValue {
    .features {
      justify-content: center;
      .feature {
        flex-basis: 50%;
        width: 50%;
        align-items: center;
        margin-bottom: 30px;
      }
    }
  }
  .wrapDivider {
    padding: 32px 0px;
  }
  .hiddenMd {
    padding: 50px 0px;

    opacity: 0;
  }
  .spacing {
    padding: 0px 20px;
  }
  .ourJourney {
    flex-direction: column-reverse;
    .wrapImageLeft {
      margin-top: 50px;
    }
  }
  .visionMission {
    .missionSection {
      flex-direction: column-reverse;
    }
    .section {
      padding: 0 24px;
    }
    .right,
    .left {
      position: relative;
      bottom: 35px;
    }
  }
  .aboutUs {
    .aboutTitle {
      text-align: center;
    }
  }
  .offices {
    .contents {
      width: 100%;
    }
  }
  .why {
    .feature {
      flex-direction: row;
      .leftFeature {
        justify-content: center !important;
        align-items: flex-start !important;
        .featureTitle {
          align-self: center;
        }
      }
    }
  }
  .gallery {
    .item {
      .wrapContent {
        padding: 20px 20px;
        font-size: 12px;
        .itemTitle {
          font-size: 20px;
        }
      }
      .titleProduct {
        font-size: 30px;
      }
    }
  }
}
@media (max-width: 576px) {
  .why {
    .right {
      width: 100%;
    }
    .feature {
      flex-direction: column;
      .leftFeature {
        justify-content: center !important;
        align-items: flex-start !important;
        .featureTitle {
          align-self: center;
        }
      }
    }
  }
  .gallery {
    .item {
      .wrapContent {
        padding: 10px;
        font-size: 10px;
        .itemTitle {
          font-size: 14px;
        }
      }
      .titleProduct {
        font-size: 20px;
      }
    }
  }
  .thinking {
    padding: 0 20px;
    .contentImage {
      padding: 20px;
      font-size: 1.375rem;
      & > span:first-child {
        width: 24px !important;
      }
      .smallTitle {
        font-size: 0.675rem;
      }
    }
  }
}
