.footer {
  // height: 100px;

  background-color: black;
  color: white;
  padding: 10px 0 10px 0;
  padding: 77px 0;
  .location {
    display: flex;
    &>.wrapImage:first-child{
      min-width: 20px;
      min-height: 20px;
    }
    .wrapText {
      margin-left: 10px;
    }
  }
  .contact {
    .cardContact {
      margin-bottom: 6px;
      display: flex;
      .text {
        margin-left: 10px;
      }
    }
    .wrapIcon{
      margin-top: 10px;
      &>.wrapImage:first-child{
        margin-right: 20px;
      }
    }
  }
  .listSection {
    .row {
      display: flex;
      div {
        text-align: left;
        white-space: nowrap;
        margin-bottom: 6px;
      }
      & > div:first-child {
        width: 150px;
        margin-right: auto;
      }
    }
  }
}
.hidden {
  opacity: 0;
}
.spacing {
  padding: 0 172px;
  max-width: 1440px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .spacing {
    padding: 0 42px;
  }
  .hiddenMd {
    display: none;
  }
}
